:root
{
	--Sonder-yellow: #F9F3D0;
	--Sonder-orange: #E1912F;
	--Sonder-olive: #464834;
	--Sonder-white: #FFFDF4;
}
@font-face 
{
	font-family: Raglika;
	src: url("./WebFonts/raglika-6yzwq.otf") format('otf');
}

html, body, #root
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	box-sizing: border-box;
}

.HomePageContainer
{
	display: flex;
	background-image: url('./imgs/homepagebg169.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.HomePage
{
	position: relative;
	display: flex;
	width: 100%;
	height: 95%;
	padding-bottom: 0;
	margin: 0;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}

.IVectors
{
	height: 50%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 10%;
}

.IVector
{
	width: 10%;
	background-color: var(--Sonder-orange);
}

.IVectorTilted
{
	width: 10%;
	background-color: var(--Sonder-orange);
	transform: rotate(-20deg);
	margin-left: 10%;
}

.HomePageBookSession
{
	width: 23%;
	margin-right: 8%;
	height: 75%;
	border-radius: 16.875rem;
	overflow: hidden;
	background: var(--Sonder-olive);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0 auto auto;
}

.HomePageBookSessionText
{
	color: var(--Sonder-yellow, #F9F3D0);
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
}

.HomePageBookSessionText h6
{
	height: 100%;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Raglika;
	font-size: 5vw;
	font-style: normal;
	font-weight: 400;
	line-height: 4vw; /* 101.333% */
	margin: 0;
	padding: 0;
}

.HomePageBookSessionButton
{
	height: 10%;
	width: 60%;
}

.HomePageBookSessionButton button
{
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Arial;
	font-size: 1vw;
	font-style: normal;
	font-weight: normal;
	color: var(--Sonder-yellow);
	background: var(--Sonder-orange);
	border: 0px;
	outline: none;
	cursor: pointer;
}

.HomeHeaderContainer
{
	display: flex;
	flex-direction: row;
	height: 5%;
	justify-content: space-around;
	align-items: center;
	margin-top: 1%;
}

.HomeHeaderContent
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 30%;
}

.HomeHeaderAnchor a
{
	color: var(--Sonder-yellow);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 1vw;
	font-style: normal;
	font-weight: 600;
	line-height: 1vw; /* 100% */
	letter-spacing: 0.25vw;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: var(--Sonder-yellow);
	text-decoration-thickness: 0.15vw;
	text-underline-offset: 0.2vw;
}

.TherapyImportanceContainer
{
	height: 55%;
	width: 100%;
	display: flex;
	flex-direction: row;
	background: var(--Sonder-olive);
	justify-content: space-between;
}

.TherapyImportanceTitle
{
	width: 50%;
	height: 100%;
	display: flex;
	text-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 7%;
	flex-direction: column;
}

.TherapyImportanceTitle div
{
	color: var(--Sonder-yellow, #F9F3D0);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 3.875vw;
	font-style: normal;
	font-weight: 400;
	line-height: 3.5vw; /* 121.739% */
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 2%;
}

.TherapyImportanceDesc
{
	display: flex;
	color: var(--Sonder-yellow, #F9F3D0);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 1.125vw;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4375vw; /* 127.778% */
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	width: 40%;
}

.OurServicesContainer
{
	height: 65.5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--Sonder-white);
	padding-top: 3%;
	padding-bottom: 3%;
}

.OurServicesHeader
{
	display: flex;
	height: 10%;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2%;
}

.OurServicesHeader h1
{
	width: 92.4%;
	color: var(--Sonder-olive, #464834);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Raglika;
	font-size: 2.5vw;
	font-style: normal;
	font-weight: 400;
	line-height: 121.739%; /* 121.739% */
	margin-left: 7.6%;
}

.OurServicesItems
{
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	height: 70%;
	width: 92.4%;
	flex: 0 0 auto;
	margin-left: 7.6%;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	height: 6px;
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.OurServicesItemContainer
{
	display: flex;
	flex: 0 0 auto;
	width: 20vw;
	height: 100%;
	flex-direction: column;
	margin-right: 2%;
	border-radius: 20vw 20vw 0 0;
	background: var(--Sonder-olive);
	justify-content: center;
	align-items: center;
}

.OurServicesItemNumber
{
	height: 20%;
	font-size: 3vw;
	margin-top: 20%;
	margin-bottom: 2.5%;
	color: var(--Sonder-olive, #464834);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Raglika;
	font-style: normal;
	font-weight: 400;
	line-height: 66px; 
}

.OurServicesItemTitle
{
	height: 10%;
	color: var(--Sonder-olive, #464834);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 1.5vw;
	font-style: normal;
	font-weight: 700;
	line-height: 135.714%;
}

.OurServicesItemBody
{
	height: 60%;
	color: var(--Text, #90946B);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 0.95vw;
	font-style: normal;
	font-weight: 400;
	line-height: 166.667%;
	padding: 2%;
}

.LookingForHelpContainer
{
	height: 65.5%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--Sonder-white);
	padding-top: 3%;
	padding-bottom: 3%;
}

.LookingForHelpHeader
{
	display: flex;
	height: 10%;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2%;
}

.LookingForHelpHeader h1
{
	width: 92.4%;
	color: var(--Sonder-olive, #464834);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Raglika;
	font-size: 2.5vw;
	font-style: normal;
	font-weight: 400;
	line-height: 121.739%; /* 121.739% */
	margin-left: 7.6%;
}

.LookingForHelpSearch
{
	height: 10%;
	display: flex;
	width: 84.8%;
	margin-left: 7.6%;
	margin-right: 7.6%;
	flex-direction: column;
	position: relative;
}

.LookingForHelpSearch input
{
	height: 100%;
	width: 100%;
	border: 0;
	border-radius: 2rem;
	outline: none;
	color: var(--Text, #90946B);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 1.35vw;
	font-style: normal;
	font-weight: 400;
	line-height: 18px; /* 69.231% */
	text-indent: 1.5%;
}

.LookingForHelpSearch img
{
	position: absolute;
	align-self: center;
	justify-self: center;
	right: 0;
	top: 1.5vh;
	margin-right: 1%;
	width: 2vw;
	height: 2vw;
}

.LookingForHelpSearch img:hover
{
	cursor: pointer;
}

/* .LookingForHelpItems
{
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	height: 40%;
	width: 92.4%;
	flex: 0 0 auto;
	margin-left: 7.6%;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	height: 6px;
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.LookingForHelpItemContainer
{
	display: flex;
	flex: 0 0 auto;
	width: 20vw;
	height: 100%;
	flex-direction: column;
	margin-right: 2%;
	border-radius: 20vw 20vw 0 0;
	background: var(--Sonder-olive);
	justify-content: center;
	align-items: center;
}

.LookingForHelpItemNumber
{
	height: 20%;
	font-size: 3vw;
	margin-top: 20%;
	margin-bottom: 2.5%;
	color: var(--Sonder-olive, #464834);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Raglika;
	font-style: normal;
	font-weight: 400;
	line-height: 66px; 
}

.LookingForHelpItemTitle
{
	height: 10%;
	color: var(--Sonder-olive, #464834);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 1.5vw;
	font-style: normal;
	font-weight: 700;
	line-height: 135.714%;
}

.LookingForHelpItemBody
{
	height: 60%;
	color: var(--Text, #90946B);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Arial;
	font-size: 0.95vw;
	font-style: normal;
	font-weight: 400;
	line-height: 166.667%;
	padding: 2%;
} */