:root
{
	--Sonder-yellow: #F9F3D0;
}

html, body, #root
{
	height: 100%;
	width: 100%;
}

.HomePageContainer
{
	display: flex;
	background-image: url('./imgs/homepagebg.jpg');
	background-size: contain;
	height: 100%;
	background-repeat: no-repeat;
	width: 100%;
}
